<!DOCTYPE html>
<html>
<head>
  <title>News Tracker</title>
  <%= stylesheet_link_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div class="container">
      <%= yield %>

    <hr>

    <footer>
      <p>&copy; News Tracker 2014</p>
    </footer>
  </div>

</body>
</html>
